.sug {
  background-color: #fff;
  text-align: center;
  max-width: 300px;
  margin: auto;
  margin-top: -20px;
}

.cart {
  /* background: linear-gradient(rgba(12, 221, 11, 0.2), rgba(30, 210, 255, 0.1)); */
  /* background-color: #006781; */
  /* background: transparent; */
  padding: 4rem;
  margin: auto;
  text-align: center;
  /* max-width: 400px; */
  /* border: 0.2rem solid #ffffeec0;
  border-radius: 1rem; */
  border: 0.2rem solid #aaa;
  border-radius: 17px;
  box-shadow: 0px 0px 10px 2px #000;
  margin: 1rem 0;
  color: #ffe;
  font-size: 2rem;
  /* min-height: 110px; */
  /* min-width: 400px; */
}
