* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}

.rootlayout {
  min-height: 100vh;
  width: 100%;
  /* background: url("/public/images/bg1.jpg") center center/cover,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(100, 202, 200, 0.7)); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 203, 169, 0.9), rgba(0, 203, 169, 0.4)),
    url("/public/images/back6.jpg") no-repeat center center/cover;

  /* background-blend-mode: color-burn; */
  /* background: linear-gradient(rgba(6, 216, 253, 0.9), rgba(0, 203, 169, 0.4)),
    url("/public/images/back6.jpg") no-repeat center center/cover; */
}
